[package]
name = "limine"
version = "8.3.1"
archs = ["x86_64"]

[[sources]]
repo = "https://github.com/limine-bootloader/limine"
branch = "v8.3.1"

[dependencies]
host = ["make", "nasm"]
build = ["base"]

[configure]
script = """
if [ ${ARCH} = "x86_64" ]; then
	export ARCH=x86-64
fi

${SOURCE_DIR}/bootstrap

autotools_configure \
	TOOLCHAIN_FOR_TARGET=${OS_TRIPLET} \
    --enable-uefi-${ARCH}
"""

[build]
script = """
make -j${THREADS}
"""

[install]
script = """
make install

mkdir -p ${INSTALL_DIR}/boot
cp ${PACKAGE_DIR}/limine.conf ${INSTALL_DIR}/boot/
mkdir -p ${INSTALL_DIR}/EFI/BOOT
cp -r ${INSTALL_DIR}/usr/share/limine/* ${INSTALL_DIR}/EFI/BOOT
"""
